# GEMINI
GEMINI_API_KEY=

# API FOOTBALL
API_FOOTBALL_KEY=
API_FOOTBALL_BASE_URL=v3.football.api-sports.io

# POSTGRES
POSTGRES_USER=postgres
POSTGRES_PASSWORD=root
POSTGRES_DB=football_club

# PGADMIN
PGADMIN_DEFAULT_EMAIL=admin@admin.com
PGADMIN_DEFAULT_PASSWORD=123

# RABBITMQ
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest

# JWT
JWT_SECRET=a-valid-string-secret-that-is-at-least-512-bits-long-which-is-very-long