# GEMINI
GEMINI_API_KEY=

# API FOOTBALL
API_FOOTBALL_KEY=
API_FOOTBALL_BASE_URL=v3.football.api-sports.io

# POSTGRES
POSTGRES_USER=postgres
POSTGRES_PASSWORD=root
POSTGRES_DB=football_club

# PGADMIN
PGADMIN_DEFAULT_EMAIL=admin@admin.com
PGADMIN_DEFAULT_PASSWORD=123

# NEO4J
NEO4J_AUTH=neo4j/password
NEO4J_USERNAME=neo4j
NEO4J_PASSWORD=password

# INFLUXDB
INFLUXDB_USERNAME=vule_admin
INFLUXDB_PASSWORD=NEKA_JAKO_SIGURNA_SIFRA_123
INFLUXDB_ORG=moj-fudbalski-klub
INFLUXDB_BUCKET=match-tracking
INFLUXDB_ADMIN_TOKEN=MOJ_SUPER_TAJNI_INFLUXDB_TOKEN_KOJI_PROSTIRE_DO_BAZE

# JWT
JWT_SECRET=a-valid-string-secret-that-is-at-least-512-bits-long-which-is-very-long