<nav class="navbar">
  <div class="navbar-brand" (click)="onLogoClicked()">
    Fudbalski Klub
  </div>
  <div>
    <ng-container *ngIf="(isLoggedIn && userRole === 'ROLE_SCOUT')">
      <button class="nav-btn" (click)="onReportsClick()">Izveštaji</button>
      <button class="nav-btn" (click)="onRequestsClick()">Zahtevi</button>
    </ng-container>

    <ng-container *ngIf="(isLoggedIn && userRole === 'ROLE_SPORTS_DIRECTOR')">
      <button class="nav-btn" (click)="onMetricsClick()">Metrike</button>
      <button class="nav-btn" (click)="onPlayerRecommendationClick()">Preporuka Igrača</button>
      <button class="nav-btn" (click)="onSeachTemplatesClick()">Šabloni Preporuke</button>
    </ng-container>

    <ng-container *ngIf="isLoggedIn">
      <button class="nav-btn logout-btn" (click)="onLogoutClick()">Izloguj Se</button>
    </ng-container>

    <ng-container *ngIf="!isLoggedIn">
      <button class="nav-btn login-btn" (click)="onLoginClick()">Uloguj Se</button>
    </ng-container>
  </div>
</nav>